<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>ToDoList</title>
 <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  

    <div class="datecontainer">
      
     <h1 id="heading"> <%= listtitle %> </h1>
    </div>
    <div class="listcontainer">

         <% items.forEach(function(item){ %>
            <form action="/delete" method="post">

              <div class="items">
                <input type="checkbox" value="<%= item._id %>" name="checkbox" onchange="this.form.submit()">
                <p> <%= item.name %> </p>
              </div>
              <input type="hidden" name="Listname" value="<%= listtitle %>"> </input>
            </form>
         <% }); %>
        
     
        <form id="form" action="/" method="post" >
          <input type="text" name="listItem" placeholder="New Item" autocomplete="off">
          <button type="submit" name="list" value="<%= listtitle %>"  id="btn">+</button>
        </form>
      </div>
    
        
   
  <h1 id="tagline">Make Today's List</h1>
</body>
</html>